@import 'src/styles/mediaQuery.scss';

.descriptions_container {
  gap: 100px;

  @include screen-s {
    gap: 10px;
  }
}

.mobile_animation_backdrop {
  width: 100%;
  display: flex;
  justify-content: center;
  background: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0.1em, transparent 0.1em),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0.1em, transparent 0.1em);
  background-size: 5em 5em;
  background-position: center;
}

.mobile_animation_mobile_container {
  width: 254px;
  height: 482px;
  margin: 50px;
  background-color: var(--main-color-white);
  border: 1px solid var(--main-color-border);
  border-radius: var(--main-radius-secondary);
  overflow: hidden;
  box-shadow: rgba(182, 185, 187, 0.7) 0px 8px 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include screen-s {
    margin: 20px;
    width: 284px;
  }
}

.mobile_animation_notificationbar {
  width: 100%;
  height: 2em;
  background-color: var(--main-color-white-dark);
}

.mobile_animation_menubar {
  width: 100%;
  height: 2.6em;
  background-color: var(--main-color-white-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  * {
    width: 1.6em;
    height: 1.6em;
    background-color: var(--main-color-white-dark-shade);
    border-radius: var(--main-radius-primary);
    opacity: 0.3;
  }

  :nth-child(2) {
    background-color: var(--main-color-blue);
  }
}

.mobile_animation_row {
  padding: 20px;
}

.mobile_animation_banner {
  width: 100%;
  height: 80px;
  background-color: #2051cc7d;
  border-radius: var(--main-radius-primary);
}

.mobile_animation_section_label {
  width: 5em;
  height: 1em;
  border-radius: var(--main-radius-primary);
  background-color: #7e7e7e59;
  margin-bottom: 0.6em;
}

.mobile_animation_carrousel {
  width: 100%;

  display: flex;
  gap: 15px;
}

.mobile_animation_carrousel_element {
  width: 8em;
  height: 4em;
  border-radius: var(--main-radius-primary);
  background-color: var(--main-color-white-dark);
  transform: translateX(20px);
}
