@import 'src/styles/mediaQuery.scss';

.navbar_component {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include screen-s {
    padding-top: 2rem;
  }
}

.navlinks {
  gap: 50px;

  @include screen-m {
    gap: 25px;
  }

  @include screen-s {
    display: none;
  }
}

.navlink {
  font-family: var(--main-font-secondary);
  font-size: 16px;
  line-height: 1em;
  text-transform: uppercase;
  color: var(--main-color-black);

  transition: var(--main-default-animation-time) ease transform;

  &:hover {
    transform: scale(1.05) translateY(-10%);
  }
}

.navlink_cta {
  color: var(--main-color-blue);
  font-weight: 600;

  transition: var(--main-default-animation-time) ease transform, filter;

  &:hover {
    transform: translateY(-15%) scale(1.05);
    filter: brightness(1.2);
  }
}
