@import 'src/styles/text.scss';
@import 'src/styles/mediaQuery.scss';

.sticky_navbar {
  display: block;
  position: sticky;
  top: 0;
  z-index: 10;
}

.bottom_light {
  border-bottom: 1px solid var(--main-color-white-dark);
}

.navbar_component {
  padding-top: 2em;
  padding-bottom: 2em;

  @include screen-s {
    align-items: baseline;
    padding-top: 1.6em;
    padding-bottom: 1.6em;
  }
}

.navlinks {
  gap: 50px;

  @include screen-m {
    gap: 25px;
  }

  @include screen-s {
    display: none;
  }
}

.navlink {
  font-family: var(--main-font-secondary);
  font-size: 16px;
  line-height: 1em;
  text-transform: uppercase;

  transition: var(--main-default-animation-time) ease transform;

  &:hover {
    transform: scale(1.05) translateY(-10%);
  }
}

.navlink_cta {
  font-weight: 600;

  transition: var(--main-default-animation-time) ease transform, filter;

  &:hover {
    transform: translateY(-15%) scale(1.05);
    filter: brightness(1.2);
  }
}
