@import 'src/styles/text.scss';
@import 'src/styles/mediaQuery.scss';

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  border-radius: 5px;
  flex-grow: 0;

  cursor: pointer;
  font-family: var(--main-font-secondary);
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 1px;
  font-size: 1rem;

  &:disabled {
    cursor: not-allowed;
  }

  &.big {
    @include responsiveFont(1rem, 3vw, 1.1rem);
  }

  &.small {
    @include responsiveFont(1rem, 2vw, 1rem);
  }

  &.expand {
    min-width: 250px;
  }

  &.primary {
    background-color: var(--main-color-blue);
    color: var(--main-color-white);
    border: 1.5px solid var(--main-color-blue);

    transition: var(--main-default-animation-time) ease transform, filter;

    &:hover,
    :active {
      transform: scale(1.02);
      filter: brightness(1.2);
    }
  }

  &.secondary {
    background-color: transparent;
    border: 1.5px solid var(--main-color-black);
    color: var(--main-color-black);
    transition: var(--main-default-animation-time) ease transform, filter;

    &:hover,
    :active {
      transform: scale(1.02);
      filter: brightness(1.2);
    }
  }

  &.clear {
    background-color: transparent;
    border: 1.5px solid transparent;

    color: var(--main-color-black);

    transition: var(--main-default-animation-time) ease transform;

    &:hover,
    :active {
      transform: translateX(2.5%);
    }
  }

  &:disabled {
    opacity: 0.5;
  }

  @include screen-s {
    width: 100%;
  }
}
