/* Text */

@mixin responsiveFont($min, $scaleing, $max) {
  font-size: min(max($min, $scaleing), $max);
}

/* Tools */
.txt-dark {
  color: var(--main-color-black);
}
.txt-light {
  color: var(--main-color-white);
}
.txt-blue {
  color: var(--main-color-blue);
}
.txt-orange {
  color: var(--main-color-orange);
}

.txt-center {
  text-align: center;
}
.txt-left {
  text-align: start;
}
.txt-right {
  text-align: end;
}
.txt-max-width-xs {
  max-width: 40rem;
}
.txt-max-width-s {
  max-width: 50rem;
}
.txt-max-width-m {
  max-width: 55rem;
}
.txt-max-width-l {
  max-width: 60rem;
}
.txt-max-width-xl {
  max-width: 70rem;
}

.word-wrap {
  word-wrap: break-word;
}

h1 {
  font-family: var(--main-font-primary);
  @include responsiveFont(3.8rem, 10vw, 6rem);
  font-weight: 500;
  line-height: 1em;
  word-break: keep-all;
}

h2 {
}

h3 {
}

h4 {
  font-family: var(--main-font-primary);
  @include responsiveFont(1.2rem, 3vw, 1.3rem);
  font-weight: 500;
  line-height: 1.2em;
}

p {
  font-family: var(--main-font-secondary);
  @include responsiveFont(1rem, 3vw, 1.1rem);
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.02em;

  a {
    color: var(--main-color-blue);
  }

  strong {
    font-weight: 400;
  }
}

.section-header {
  font-family: var(--main-font-primary);
  @include responsiveFont(3.1rem, 10vw, 5rem);
  font-weight: 500;
  line-height: 1em;
  color: var(--main-color-black);
}

.page-header-underline {
  font-family: var(--main-font-secondary);
  @include responsiveFont(1.1rem, 3vw, 1.4rem);
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}

.section-header-underline {
  font-family: var(--main-font-secondary);
  @include responsiveFont(1.1rem, 3vw, 1.3rem);
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.section-quote {
  font-family: var(--main-font-primary);
  @include responsiveFont(1.5rem, 5vw, 2rem);
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  max-width: 600px;
}

.section-link {
  font-family: var(--main-font-primary);
  @include responsiveFont(1rem, 3vw, 1.3rem);
  font-weight: 500;
  line-height: 1.5em;

  transition: var(--main-default-animation-time) ease transform, filter;

  &:hover {
    transform: translateX(2.5%);
    filter: brightness(1.2);
  }
}

.paragraph-link {
  font-family: var(--main-font-primary);
  @include responsiveFont(1rem, 3vw, 1.1rem);
  font-weight: 400;
  line-height: 1.5em;

  transition: var(--main-default-animation-time) ease transform, filter;

  &:hover {
    transform: translateX(2.5%);
    filter: brightness(1.2);
  }
}

.quote-l {
  font-family: var(--main-font-secondary);
  @include responsiveFont(1.5rem, 3vw, 2.5rem);
  font-weight: 500;
  line-height: 1.3em;
  letter-spacing: 0.05em;
}

.quote-xl {
  font-family: var(--main-font-primary);
  @include responsiveFont(1.5rem, 3vw, 2.5rem);
  font-weight: 600;
  line-height: 1.2em;
  text-align: right;
  letter-spacing: 0.03em;
}

input,
textarea {
  background-color: var(--main-color-white-dark);
  padding: 10px 20px;
  border-radius: var(--main-radius-primary);
  border: 1.5px solid var(--main-color-white-dark);

  font-family: var(--main-font-secondary);
  @include responsiveFont(1rem, 3vw, 1.1rem);
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.02em;

  &::placeholder {
    color: var(--main-color-white-dark-shade);
    @include responsiveFont(1rem, 3vw, 1.1rem);
  }

  &:active {
    border: 1.5px solid var(--main-color-blue);
  }

  &:disabled {
    color: var(--main-color-white-dark-shade);
  }
}
