/* Text */

@mixin responsiveFont($min, $scaleing, $max) {
  font-size: min(max($min, $scaleing), $max);
}

/* Tools */
.txt-dark {
  color: var(--main-color-black);
}
.txt-light {
  color: var(--main-color-white);
}
.txt-blue {
  color: var(--main-color-blue);
}

.txt-center {
  text-align: center;
}
.txt-left {
  text-align: start;
}
.txt-right {
  text-align: end;
}
.txt-max-width-s {
  max-width: 50rem;
}
.txt-max-width-m {
  max-width: 55rem;
}
.txt-max-width-l {
  max-width: 60rem;
}

.word-wrap {
  word-wrap: break-word;
}

h1 {
  font-family: var(--main-font-primary);
  @include responsiveFont(3.8rem, 10vw, 6rem);
  font-weight: 500;
  line-height: 1em;
  word-break: break-all;
  text-align: center;
}

h2 {
}

h3 {
}

h4 {
  font-family: var(--main-font-primary);
  font-weight: 500;
  @include responsiveFont(1rem, 3vw, 1.4rem);
  line-height: 2em;
}

p {
  font-family: var(--main-font-secondary);
  @include responsiveFont(0.9rem, 3vw, 1.1rem);
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.section-header {
  font-family: var(--main-font-primary);
  @include responsiveFont(2.4rem, 10vw, 5rem);
  font-weight: 500;
  line-height: 1em;
  color: var(--main-color-black);
}

.header-underline {
  font-family: var(--main-font-secondary);
  @include responsiveFont(1rem, 3vw, 1.3rem);
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.section-quote {
  font-family: var(--main-font-primary);
  @include responsiveFont(1.5rem, 5vw, 2rem);
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  max-width: 600px;
}
