@import 'src/styles/mediaQuery.scss';

.card {
  padding: 50px 25px;
  max-width: 275px;
  height: 350px;
  gap: 75px;

  box-shadow: rgba(182, 185, 187, 0.7) 0px 6px 12px;

  @include screen-s {
    height: unset;
    gap: 25px;
  }
}

.cards_container {
  gap: 30px;

  display: flex;
  justify-content: center;

  @include screen-s {
    flex-direction: column;
    align-items: center;
  }
}
