@import 'src/styles/text.scss';
@import 'src/styles/mediaQuery.scss';

.modal_container {
  position: fixed;

  background-color: var(--main-color-black);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding: 50px;
  padding-bottom: 100px;
  z-index: 20;
}

.close_button {
  color: var(--main-color-white);
  font-family: var(--main-font-primary);
  @include responsiveFont(1.5rem, 2vw, 1.2rem);
  font-weight: 400;
  letter-spacing: 0.04em;
  margin-top: 40px;
}

.navlinks {
  flex: 1;
  gap: 3em;
  margin-bottom: 50px;
}

.navlink {
  font-family: var(--main-font-secondary);
  @include responsiveFont(1.5rem, 9vw, 1.6rem);
  font-weight: 300;

  color: var(--main-color-white);
}

.menu_button {
  display: none;
  font-family: var(--main-font-primary);
  @include responsiveFont(1.5rem, 2vw, 1.2rem);
  font-weight: 500;
  letter-spacing: 0.04em;

  @include screen-s {
    display: block;
  }
}
.menu_button_light {
  color: var(--main-color-white);
  @include responsiveFont(1.5rem, 2vw, 1.3rem);
}

.menu_button_dark {
  color: var(--main-color-black);
}

.modal_details {
  border-top: 1.5px solid var(--main-color-white);
  padding-top: 1.6rem;
  @include responsiveFont(0.9rem, 2vw, 0.9rem);
}
