@import 'src/styles/mediaQuery.scss';

.services_headline {
  max-width: 620px;

  @include screen-s {
    max-width: unset;
  }
}

.text_container {
  gap: 100px;

  @include screen-s {
    gap: unset;
  }
}

.process_animation_container {
  padding: 40px 25px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-gap: 35px;
  align-items: center;
  border-radius: var(--main-radius-primary);
}

.process_animation_profile_badge {
  background-color: var(--main-color-white-dark);
  padding: 10px;

  border-radius: var(--main-radius-secondary);

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 16px;
}

.process_animation_profile_icon {
  background-color: rgba(217, 217, 217, 0.5);
  height: 23px;
  width: 23px;
  border-radius: 50%;
}

.process_animation_profile_text {
  width: 100px;
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: var(--main-radius-primary);
}

.hide_on_mobile {
  @include screen-s {
    display: none;
  }
}
