@import 'src/styles/mediaQuery.scss';
@import 'src/styles/text.scss';

.cards_container {
  gap: 50px;

  @include screen-s {
    gap: 50px;
  }
}

.cta_card {
  padding-inline: 50px;
  max-width: 520px;
  box-shadow: rgba(182, 185, 187, 0.7) 0px 8px 24px;
}

.card_title {
  font-family: var(--main-font-primary);
  @include responsiveFont(1.2rem, 3vw, 1.5rem);
  font-weight: 500;
  line-height: 2em;
}
